.main-panel {
	position: relative;
	z-index:0;
}

#main-circle {
	fill: rgba(247, 248, 248, 1);
}

.protruding-panel  {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
}

#protruding-circle {
	fill: rgba(255, 255, 255, 1);
	filter: url(#dropshadow);
}

.radial-panel  {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 500px;
}

.radial-background {
	position: absolute;
	z-index: 2;
}

.radial-border {
	position: absolute;
	z-index: 3;
}

/* 
	.radial-markings & .radial-markings:before is used to setup the radial slider.
	Uncomment the box-shadow to display the full slider path.
*/
.radial-markings {
  position: absolute;
  z-index: 4;
  top: 20%;
  left: 20%;
  background-color: transparent;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.radial-markings:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: transparent;
  border-radius: 50%;
  top: 5%;
  left: 5%;
  //box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 
	.radial-tracker & .radial-tracker:before is used to setup the radial slider's tracker.
*/
.radial-markings .radial-tracker {
  position: absolute;
  width: 5%;
  height: 50%;
  left: 47.5%;
  top: 0;
  transform: rotate(0deg);
  transform-origin: center bottom;
  
}
.radial-markings .radial-tracker:before {
  content: "";
  position: absolute;
  background-color: rgb(255,192,0);
  width: 80%;
  transform: translate3d(-25%, -15%, 0);
  height: 0;
  padding-bottom: 200%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 50%;
  cursor: pointer;
}

#radial-lines {
	position: absolute;
	z-index: -1;
	top: -7px;
	left: -9px;
	width: 320px;
	height: 100%;
}

.target-temperature-indicator {
	color: white;
	position: absolute;
	z-index: 3;
	text-align: center;
	top: 110px;
	left: 190px;
	font-size: 50px;
}

.current-temperature-indicator {
	color: white;
	position: absolute;
	z-index: 3;
	text-align: center;
	top: 290px;
	left: 170px;
	font-size: 30px;
	font-weight: bold;
}
